:root {
    --page-padding-top: 50px;
    --section-padding: 20px;
    --page-background-color: rgb(213, 210, 210);
    --page-background-color-hover: rgb(204, 204, 204);
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--page-background-color);
    font-size: 16px;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.4em;
}

h3 {
    font-size: 1.1em;
}

h4 {
    font-size: 1em;
}

h5 {
    font-size: 1em;
    font-weight: bold;
}

small {
    font-size: 80%;
}

.nav-item {
    list-style: none;
}

.nav-link {
    padding-top: var(--page-padding-top);
    text-transform: uppercase;
}

.active {
    font-weight: bold;
}

section>h4 {
    padding-top: var(--page-padding-top);
    border-bottom: 1px solid #000;
    text-transform: uppercase;
}

#work-experience>section {
    margin: 0;
    transition: background-color 0.3s ease;
}

#work-experience>section :hover {
    background-color: var(--page-background-color-hover);
}

#work-experience>section>div {
    margin: 0;
}

a svg {
    color: black !important;
}

#main-menu-section {
    text-align: right;
    padding: 10px 10px 0px 0px;
}

#main-menu-section>nav {
    padding: 0;
    margin: 0;
}

#nav-sections>.navbar {
    padding: 0 !important;
    margin: 0 !important;
    padding-top: var(--section-padding) !important;
    background-color: var(--page-background-color);
}

#about-me-section {
    padding-top: 0;
}

/* body {
    border: solid violet 2px;
} */

/* small */
@media (min-width: 576px) {

    /* body {
        border: solid orange 2px;
    } */
}

/* medium */
@media (min-width: 768px) {

    /* body {
        border: solid red 2px;
    } */
}

/* large */
@media (min-width: 992px) {

    /* body {
        border: solid green 2px;
    } */

    #main-menu-section {
        padding-top: var(--page-padding-top);
        margin-top: -15px;
        position: fixed;
        background-color: var(--page-background-color);
    }

    #about-me-section {
        padding-top: var(--page-padding-top);
    }

    #about-me-section>h4 {
        padding-top: 0;
    }
}

@media (min-width: 1200px) {

    /* body {
        border: solid blue 2px;
    } */
}